{% extends '@Fulguration/base.html.twig' %}

{% block body %}
    <h1>Realisation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ realisation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ realisation.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ realisation.description }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ realisation.lien }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('realisation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('realisation_edit', { 'id': realisation.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
