{% extends '@Fulguration/base.html.twig' %}

{% block body %}
    <h1>Astuce</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ astuce.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ astuce.nom }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ astuce.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('astuce_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('astuce_edit', { 'id': astuce.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
