{% extends '@Fulguration/base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <h1>Experiences list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomentreprise</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Fonction</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for experience in experiences %}
            <tr>
                <td><a href="{{ path('experience_show', { 'id': experience.id }) }}">{{ experience.id }}</a></td>
                <td>{{ experience.nomEntreprise }}</td>
                <td>{% if experience.dateDebut %}{{ experience.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if experience.dateFin %}{{ experience.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ experience.fonction }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('experience_show', { 'id': experience.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('experience_edit', { 'id': experience.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
