{% extends '@Fulguration/base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="col-md-12">
            <h1>Nouvelle expérience</h1>

            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.nomEntreprise) }}
                {{ form_widget(form.nomEntreprise) }}
                {{ form_errors(form.nomEntreprise) }}
            </div>
            <div class="form-group">
                {{ form_label(form.dateDebut) }}
                {{ form_widget(form.dateDebut) }}
                {{ form_errors(form.dateDebut) }}
            </div>
            <div class="form-group">
                {{ form_label(form.dateFin) }}
                {{ form_widget(form.dateFin) }}
                {{ form_errors(form.dateFin) }}
            </div>
            <div class="form-group">
                {{ form_label(form.fonction) }}
                {{ form_widget(form.fonction) }}
                {{ form_errors(form.fonction) }}
            </div>

            <input class="btn btn-primary" type="submit" value="Créer" />
            <a class="btn btn-primary" href="{{ path('experience_index') }}">Retour</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


